.container{
  max-width: 800px;
  max-height: 800px;
}

.container > div {
  display: none;
  text-align: center;
}

#start-game{
  margin-top: 96px;
}

#player-names{
  min-height: 100px;
}

ul {
  list-style-type: none;
}

#names-entered{
  display: none;
}

.identity{
  display: none;
}
